/* Application-wide Styles */
h1 {
    color: #ff8a8a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 2em;
    background-color: #369;
  }
  body, input[type="text"], button {
    color: #333;
    font-family: Cambria, Georgia, serif;
  }
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }
  ul {
    border-radius: 15px;
  }
